h1 {
    font-family: 'Times New Roman', Times, serif;
    color: goldenrod;
    text-align: center;
}
#container {
    height: 6vh;
    width: auto;
    background-color: lightgreen;
}
ul {
   
    list-style: none;
    list-style-type: none;
    display: flex;
    flex-direction: column;
    margin: auto;

;
    
   
}
li {
    
    font-style: italic;
    font-family: 'Times New Roman', Times, serif;
    font-weight: bold;

 
}
button {
    margin: 10px;
    color: goldenrod;
}
button:hover {
   margin: 10px;
    font-weight: bolder;
    font-size: 20px;
    color: black;
    transform: scale(1,1);
    transition: 0.15s;

}